.grid-container {
    @include grid(4);
    padding: $spacing-xl;
    background-color: $colore-testo;
  
    .grid-item {
      background-color: white;
      padding: $spacing-md;
      border-radius: 8px;
      @include floating(none, 0px 2px 5px rgba(0, 0, 0, 0.1));
  
      img {
        width: 100%;
        border-radius: 8px;
      }
    }
  }
  