.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh; 
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbszm2OXLnwB1KSHhlCmHFhME4WBLkQRgPPQ&s') no-repeat center center;
  background-size: cover;
  padding: $spacing-lg;
  position: relative; // Impostato per il corretto posizionamento dell'overlay
  border: solid 3px $colore-bottone-secondario;
    // Applica l'animazione di discesa
    @include fade-slide('fadeInFromTop', 2s, -30px, 0.5s);
}

.hero::after {
  content: ''; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); // Overlay scuro sopra l'immagine
  z-index: -1; // Mette l'overlay dietro il contenuto
}

.hero-text {
  max-width: 800px;
  padding: $spacing-md;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
  color: $colore-bottone-secondario;
  border: 3px solid;
  margin-right: 20px;
  background-color: $colore-testo;
}

.hero h1 {
  font-size: $font-size-title;
  margin-bottom: $spacing-lg; 
    // Applica l'animazione di discesa
    @include fade-slide('fadeInFromTop', 2s, -30px, 0.5s);
}

.hero img {
  border: solid 3px $colore-bottone-secondario;

}

.hero p {
  font-size: $font-size-lg;
  margin-bottom: $spacing-xl; 
    // Applica l'animazione di discesa
    @include fade-slide('fadeInFromTop', 2s, -30px, 0.5s);
}

.hero .buttons {
  display: flex;
  justify-content: center;
  gap: $spacing-md; 
  margin-top: $spacing-lg; 
}

.hero .buttons button {
  padding: $spacing-sm $spacing-md;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: $spacing-sm;

  // Applica l'animazione di discesa
  @include fade-slide('fadeInFromTop', 2s, -30px, 0.5s); 
}

.hero .buttons button:hover {
  background-color: darken($colore-bg-hero, 10%); 
}

  
  