// Colori
$colore-testo: #f4f4f4;
$colore-bottone-primario: #0e6cff;
$colore-bottone-secondario: #4caf50;
$colore-bottone-terziario: #ff8700;
$colore-bg-hero: #640fc5;
$colore-bottone: #0e6cff; // Aggiunto per evitare l'errore

// Font
$font-family: 'Arial', sans-serif;
$font-size-base: 16px;
$font-size-md: 18px; // Aggiunto per evitare l'errore
$font-size-lg: 24px;
$font-size-xl: 32px;

// Spaziature
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-xxl: 48px;




