/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.padding-block-sm {
  padding-block: 8px;
}

.padding-inline-sm {
  padding-inline: 8px;
}

.margin-block-sm {
  margin-block: 8px;
}

.margin-inline-sm {
  margin-inline: 8px;
}

.padding-block-md {
  padding-block: 16px;
}

.padding-inline-md {
  padding-inline: 16px;
}

.margin-block-md {
  margin-block: 16px;
}

.margin-inline-md {
  margin-inline: 16px;
}

.padding-block-lg {
  padding-block: 24px;
}

.padding-inline-lg {
  padding-inline: 24px;
}

.margin-block-lg {
  margin-block: 24px;
}

.margin-inline-lg {
  margin-inline: 24px;
}

.padding-block-xl {
  padding-block: 32px;
}

.padding-inline-xl {
  padding-inline: 32px;
}

.margin-block-xl {
  margin-block: 32px;
}

.margin-inline-xl {
  margin-inline: 32px;
}

.padding-block-xxl {
  padding-block: 48px;
}

.padding-inline-xxl {
  padding-inline: 48px;
}

.margin-block-xxl {
  margin-block: 48px;
}

.margin-inline-xxl {
  margin-inline: 48px;
}

.btn-primario {
  background-color: #0e6cff;
  color: #f4f4f4;
  padding: 16px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.btn-primario:hover {
  transform: scale(1.05);
}

.btn-secondario {
  background-color: #4caf50;
  color: #f4f4f4;
  padding: 16px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.btn-secondario:hover {
  transform: scale(1.05);
}

.btn-terziario {
  background-color: #ff8700;
  color: #f4f4f4;
  padding: 16px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.btn-terziario:hover {
  transform: scale(1.05);
}

.header {
  background-color: #640fc5;
  color: #f4f4f4;
  padding: 16px;
  border-bottom: 2px solid white;
}
.header .logo img {
  width: 5%;
  height: auto;
}
.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header nav ul {
  display: flex;
  gap: 16px;
  list-style: none;
}
.header nav ul li a {
  color: #f4f4f4;
  text-decoration: none;
}
.header nav ul li a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbszm2OXLnwB1KSHhlCmHFhME4WBLkQRgPPQ&s") no-repeat center center;
  background-size: cover;
  padding: 24px;
  position: relative;
  border: solid 3px #4caf50;
  animation: fadeInFromTop 2s ease-out 0.5s forwards;
}
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.hero-text {
  max-width: 800px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #4caf50;
  border: 3px solid;
  margin-right: 20px;
  background-color: #f4f4f4;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 24px;
  animation: fadeInFromTop 2s ease-out 0.5s forwards;
}
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero img {
  border: solid 3px #4caf50;
}

.hero p {
  font-size: 24px;
  margin-bottom: 32px;
  animation: fadeInFromTop 2s ease-out 0.5s forwards;
}
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.hero .buttons button {
  padding: 8px 16px;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 8px;
  animation: fadeInFromTop 2s ease-out 0.5s forwards;
}
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .buttons button:hover {
  background-color: #4c0b96;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 32px;
  background-color: #640fc5;
}
.grid-container > * {
  flex: 1 1 calc(100% / 4 - 16px);
}
.grid-container .grid-item {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 3px solid #4caf50;
}
.grid-container .grid-item img {
  width: 100%;
  border-radius: 8px;
}/*# sourceMappingURL=style.css.map */